
/* Navbar */
.navbar {
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 200px;
  width: 200px;
  padding-top: 25px;
}

.brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f97316;
}

.menu {
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

.menu a {
  text-decoration: none;
  color: #555;
}

.menu a:hover {
  color: #f97316;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logout-btn {
  background: #f97316;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #ea580c;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.welcome h2 {
  font-size: 30px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.time {
  font-size: 30px;  
  font-weight: bold; 
  color: #333;  
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin: 1rem;
  
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 150px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  color: #ffffff;
  
  
}

.card .icon {
  font-size: 1.8rem;

}

.orange { background: #ff6b00; }
.red { background: #ff7a19; }
.blue { background: #ff8832; }


.value {
  font-size: 55px;
  font-weight: 20px;
  margin-left: 345px;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  color: #ffffff;
  margin-left: 345px;
  margin-top: -40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* Main Content */
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;

}

.kelas-container, .chart-container {
  background: white;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.kelas-container h2 {
  color: #f97316;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.kelas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.kelas-grid button {
  background: #f97316;
  color: white;
  border: none;
  padding: 8px;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}

.kelas-grid button:hover {
  background: #ea580c;
}

.chart-container {
   width: 400px;
  height: 400px;
  background: white;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  padding-right: 210px;

}

.chart-container  h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #ea580c;
  

}

#attendanceChart {
  margin-left: 180px;
  margin-top: 30px;
}

.custom-legend {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  margin-left: 210px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;


}

.custom-legend .box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
